.header {
  height: 115px;
  display: flex;
  align-items: center;
  background-color: #9f9f9f;
  transition: height 0.3s ease;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  opacity: 1;
  backdrop-filter: saturate(150%) blur(15px);
  justify-content: space-between;
  z-index: 1;

  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0;
    width: 60%;
    height: 60%;
  }

  .logo {
    height: 40%;
    width: 40%;
    padding: 2.5em;
    will-change: filter;
    transition: filter 250ms;

    &:hover {
      filter: drop-shadow(0 0 1em #646cffaa) blur(0.5px);
    }
  }

  .button {
    padding: 1.5em;
    margin: 2em;
    width: 20%;
    height: 50%;
    font-size: 0.75em;
    &:hover {
      filter: drop-shadow(2px 2px 0 red) hue-rotate(180deg)
        drop-shadow(2px 2px 0 red);
    }
  }

  .welcomeMessage {
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    margin: 0.5em;
    width: 30%;
    margin: 1em;
    margin-right: 0;
  }
}
